name: Crypto News Bot

on:
  schedule:
    - cron: "*/10 * * * *"   # har 10 minute safe mode
  workflow_dispatch:

jobs:
  news-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run News Bot
        run: python news_bot.py

      - name: Save Seen News
        run: |
          git config --global user.name "github-bot"
          git config --global user.email "bot@github.com"
          git add seen_news.txt
          git commit -m "update seen news" || echo "No changes"
          git push
